:root{

--sap-blue:#0A6ED1;
--sap-dark:#082B4C;
--sap-turquoise:#00B8D9;
--background:#EEF3F8;
--card:#ffffff;
--text:#223548;
--success:#2ECC71;
--danger:#E74C3C;
--warning:#F4B400;
--shadow:
0 15px 35px rgba(0,0,0,.08);
--glass:
rgba(255,255,255,.72);
--radius:18px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;

font-family:
"Segoe UI",
Inter,
Arial,
sans-serif;
}

body{
background:
radial-gradient(
circle at top right,
rgba(0,184,217,.25),
transparent 35%
),

linear-gradient(
135deg,
#eef3f8,
#dce9f5
);

color:var(--text);
height:100vh;
overflow:hidden;
}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:260px;
background:
linear-gradient(
180deg,
#082B4C,
#031A30
);

color:white;
padding:25px 18px;
display:flex;
flex-direction:column;
box-shadow:
10px 0 35px rgba(0,0,0,.15);
}

.logo{
display:flex;
align-items:center;
gap:15px;
margin-bottom:35px;
}

.logo span{
font-size:45px;
color:#00B8D9;
}

.logo h2{
font-size:28px;
letter-spacing:1px;
}

.logo p{
font-size:12px;
opacity:.7;
}

nav{
display:flex;
flex-direction:column;
gap:8px;
}

nav a{
height:48px;
display:flex;
align-items:center;
gap:15px;
padding:0 15px;
color:white;
text-decoration:none;
border-radius:12px;
cursor:pointer;
transition:.3s;
}
nav a span{
font-size:24px;
}
nav a:hover{
background:
rgba(255,255,255,.12);
transform:translateX(5px);
}

nav .active{
background:
linear-gradient(
90deg,
#0A6ED1,
#00B8D9
);
box-shadow:
0 8px 25px
rgba(0,184,217,.4);
}

main{
flex:1;
display:flex;
flex-direction:column;
}

.topbar{
height:80px;
margin:15px;
padding:0 25px;
background:
var(--glass);
backdrop-filter:
blur(20px);
border-radius:18px;
display:flex;
align-items:center;
justify-content:space-between;
box-shadow:
var(--shadow);
}

.search{
display:flex;
align-items:center;
gap:10px;
background:white;
padding:12px 18px;
border-radius:12px;
color:#777;
width:300px;
}



.user-area{
display:flex;
align-items:center;
gap:25px;
}

.user-area>span{
cursor:pointer;
}

.user{
display:flex;
align-items:center;
gap:10px;
}

.user img{
width:45px;
height:45px;
border-radius:50%;
}

.user small{
display:block;
opacity:.6;
}

.content{
padding:
10px 25px;
overflow:auto;
}

.content h1{
font-size:32px;
margin-bottom:5px;
}

.subtitle{
opacity:.65;
margin-bottom:25px;
}

.cards{
display:grid;
grid-template-columns:
repeat(4,1fr);
gap:20px;
margin-bottom:25px;
}

.card{
background:
var(--glass);
backdrop-filter:
blur(18px);
border-radius:
var(--radius);
padding:22px;
display:flex;
align-items:center;
gap:18px;
box-shadow:
var(--shadow);
transition:.35s;
}

.card:hover{
transform:
translateY(-8px);
}

.card p{
opacity:.6;
margin-bottom:8px;
}

.card h2{
font-size:32px;
}

.positive{
color:var(--success);
font-weight:600;
}

.icon{
width:60px;
height:60px;
border-radius:18px;
display:flex;
align-items:center;
justify-content:center;
color:white;
}

.icon span{
font-size:32px;
}

.blue{
background:
linear-gradient(
135deg,
#0A6ED1,
#00B8D9
);
}

.red{
background:
linear-gradient(
135deg,
#E74C3C,
#ff7675
);
}

.green{
background:
linear-gradient(
135deg,
#27AE60,
#2ECC71
);
}

.orange{
background:
linear-gradient(
135deg,
#F4B400,
#ffcc70
);
}

.dashboard-grid{
display:grid;
grid-template-columns:
2fr 1fr;
gap:20px;
margin-bottom:25px;
}

.panel{
background:
var(--glass);
backdrop-filter:
blur(20px);
padding:25px;
border-radius:
var(--radius);
box-shadow:
var(--shadow);
}

.panel-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}
.panel-header button{
border:none;
background:
var(--sap-blue);
color:white;
padding:8px 18px;
border-radius:10px;
cursor:pointer;
}

.chart-placeholder{
height:230px;
display:flex;
align-items:flex-end;
justify-content:center;
}

.bars{
height:200px;
display:flex;
align-items:flex-end;
gap:18px;
}

.bars span{
width:35px;
background:
linear-gradient(
180deg,
#00B8D9,
#0A6ED1
);

border-radius:
10px 10px 0 0;
}

.circle{
width:160px;
height:160px;
border-radius:50%;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
font-weight:bold;
background:
conic-gradient(
#0A6ED1 0 96%,
#ddd 96%
);

color:white;
}

table{
width:100%;
border-collapse:collapse;
}

th{
text-align:left;
padding:15px;
opacity:.6;
}

td{
padding:15px;
border-top:
1px solid rgba(0,0,0,.06);
}

.status{
padding:6px 15px;
border-radius:20px;
font-size:13px;
font-weight:bold;
}

.open{
background:#ffe3e3;
color:#E74C3C;
}

.close{
background:#dff7e8;
color:#27AE60;
}

@media(max-width:1100px){
.cards{
grid-template-columns:
repeat(2,1fr);
}

.dashboard-grid{
grid-template-columns:1fr;
}
}

@media(max-width:700px){
.sidebar{
width:80px;
}

.logo div,
nav a:not(.active){
display:none;
}

.cards{
grid-template-columns:1fr;
}

.search{
width:150px;
}

body{
overflow:auto;
}
}

#pageContainer{
width:100%;
height:calc(100vh - 90px);
display:none;
}

#pageContainer iframe{
width:100%;
height:100%;
border:none;
border-radius:18px;
background:white;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

#moduleContainer{
width:100%;
height:calc(108vh - 108px);
display:none;
}

#moduleContainer iframe{
width:100%;
height:100%;
border:none;
border-radius:18px;
background:white;
}

#moduleContainer{
    width:100%;
    height:100%;
}

#moduleContainer iframe{
    width:100%;
    height:calc(100vh - 20px);
    border:none;
}